  
<td style="height:60px; width: 60px; background-color:@(BackgroundColorData.CellColor); margin:@(BackgroundColorData.Margin)px; border-width:@(BackgroundColorData.BoderWidth)px; border-color:@(BackgroundColorData.BoderColor);"
    @onclick="ChoraTouchKartaHy"
    @onmouseenter="MouseEnter"
    @onmouseout="MouseExit"> 
</td>
@code {
    [Parameter, EditorRequired]
    public GraphCellModels BackgroundColorData { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<GraphCellModels> OnEmployeeSelection { get; set; }
    async Task ChoraTouchKartaHy()
    {
        await OnEmployeeSelection.InvokeAsync(BackgroundColorData);
    }


    void MouseEnter()
    {
        if (BackgroundColorData.CellColor == "white")
        {
            BackgroundColorData.CellColor = "pink";
        }
    }
    void MouseExit()
    {
        if (BackgroundColorData.CellColor == "pink")
        {
            BackgroundColorData.CellColor = "white";
        }
    }
}
