@page "/cartanimation"
@inject IJSRuntime JSRuntime

<PageTitle>Cartanimation</PageTitle>
<Pastebin HeadingName="Beautiful String" HeightOfIframe="700" SourceURL="https://pastebin.com/embed_iframe/YBZtRsfb"> 
</Pastebin>

<div class="container">
    <div class="box box1"></div>
    <div class="box box2"></div>
</div>

@code {

}
