@page "/cartanimation"
@inject IJSRuntime JSRuntime

<PageTitle>Cartanimation</PageTitle>


<div class="container">
    <div class="box box1"></div>
    <div class="box box2"></div>
</div>

@code {

}
